@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 30 30 30; /* BLACK */
  --secondary: 113 73 230; /* PURPLE */
  --neutral: 255 255 255; /* WHITE */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container{
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
}