.featuresSection {
  @apply min-h-[100dvh]
    flex
    flex-col
    items-center
    justify-center
}

.header {
  @apply text-5xl 
    mb-12
    font-poppins 
    font-extrabold 
    text-secondary 
    sm:text-7xl
    text-center
}

.features {
  @apply 
    m-8
    grid
    grid-cols-1
    lg:grid-cols-[repeat(3,1fr)] 
    grid-rows-[repeat(2,320px)]
    gap-4;
}

.feature {
  @apply flex
    flex-col
    items-center
    justify-center
    gap-4
    p-4
    lg:p-6
    text-center
    border-solid
    border-[3px]
    rounded-[8px]
    border-primary;
}

.vertical {
  @apply col-span-1
  lg:row-span-2
}

.horizontal {
  @apply col-span-1
  lg:col-span-2
}

.title {
  @apply text-xl
    font-poppins
    font-bold
    text-primary;
}

.description {
  @apply text-base
    text-justify
    font-roboto
}