.section {
  @apply min-h-[90dvh]
    bg-neutral 
    grid 
    items-center 
    px-8 
    lg:px-4
}

.content {
  @apply mx-auto 
    max-w-xl 
    text-center
}

.header {
  @apply text-5xl 
    font-poppins 
    font-extrabold 
    text-secondary 
    sm:text-7xl
}

.subheader {
  @apply mt-4 
    font-roboto 
    text-xl
}

.cta {
  @apply mt-8 
  flex 
  flex-col 
  justify-center 
  gap-2 
  sm:flex-row
}